.card {
  width: 350px;
  height: 480px;
  margin: 2rem 0.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-8px);
}
