@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Sen);
}

:root {
  --MainColor: #fff;
  --lightSmook: #efefef;
  --lightRed: rgb(182, 28, 28);
  --Righteous: "Righteous", cursive;
  --Sen: "Sen", sans-serif;
}
