.TvShowDiv {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../assest/images/Group\ 36.png);
  background-position: center;
  background-size: cover;
}
.Container {
  max-width: 1600px;
  margin: auto;
}
.TvShowInner {
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.ContenueWatchingDivCard {
  width: 100%;
  height: auto;
  padding: 20px 0;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.ContenueWatchingInnerCard {
  width: 300px;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContenueWatchingImgDiv {
  width: 80px;
  height: 80px;
  border: 1px solid red;
  background-position: center;
  background-size: cover;
}
.ContenueWatchingContentDiv {
  color: var(--MainColor);
}
.ContenueWatchingContentDiv h3 {
  font-size: 1.8rem;
}
