.TvShowDiv {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: #000;
  background-position: center;
  background-size: cover;
}
.Container {
  max-width: 1600px;
  margin: auto;
}
.TvShowInner {
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.ContenueWatchingDivCard {
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #000;
}
